{"version":16,"variables":[],"tiles":{"0":{"type":"markdown","title":"","content":"# Your Cloud Shell Command\n cd ~/aws-modernization-dt-orders-setup-saas/provision-scripts && ./provision-workshop.sh ```{{  extra_vars.dt_environment_url_gen3  }}``` ```{{ ace_box_my_access_token }}``` <Your Email used to login to dynatrace>"}},"layouts":{"0":{"x":0,"y":0,"w":8,"h":6}},"importedWithCode":false,"settings":{"gridLayout":{"mode":"responsive"}}}
