{"version":16,"variables":[],"tiles":{"0":{"type":"markdown","title":"","content":"# Your Tenant API token\n```{{ ace_box_my_access_token }}```"}},"layouts":{"0":{"x":0,"y":0,"w":8,"h":6}},"importedWithCode":false,"settings":{"gridLayout":{"mode":"responsive"}}}
